@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: hsl(0, 0%, 0%);
  --color-light: hsl(200, 10%, 25%);
  --font-size: 16px;
  --primary-hue: 200;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--color-text);
  background: hsl(var(--primary-hue), 50%, 98%);
  font-size: var(--font-size);
}
