.render_question_text {
  color: gray;
  position: relative;
  cursor: default;
}

.render_question_text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background-color: gray;
}
